* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
}

.ImgBanner {
    position: relative;
    background-image: url("/assets/pexels-juliazolotova-6514452.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px 20px;
    box-sizing: border-box;
    text-align: center;
}

.tituloInicial {
    color: #D4A017;
    text-align: center;
}

.tituloMedicinais {
    color: green;
    text-align: center;
}

.tituloOrnamentais {
    color: purple;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 30px auto;
    text-align: center;
    width: 1500px;
}

img {
    width: 300px;
    margin: 60px auto;
}

.imagens {
    text-align: center;
}

.imagens img {
    margin: 60px;
    width: 350px;
    height: 500px;
}

.botãoInicial a {
    text-decoration: none;
    text-align: center;
    color: darkorange;
    display: block;
    font-size: 30px;
    margin: 20px auto;
    background-color: #F0F0F0;
    padding: 20px;
    font-weight: 400;
    width: 1500px;
}

.botãoInicial a:hover {
    transform: scale(1.1);
    background-color: darkorange;
    color: white;
}

.medicinaisVoltar a {
    text-decoration: none;
    text-align: center;
    color: darkorange;
    display: block;
    font-size: 30px;
    margin: 20px auto;
    background-color: #F0F0F0;
    padding: 20px;
    font-weight: 400;
    width: 1500px;
}

.medicinaisVoltar a:hover {
    transform: scale(1.1);
    background-color: darkorange;
    color: white;
}

.voltarOrnamentais a {
    text-decoration: none;
    text-align: center;
    color: darkorange;
    display: block;
    font-size: 30px;
    margin: 20px auto;
    background-color: #F0F0F0;
    padding: 20px;
    font-weight: 400;
    width: 1500px;
}

.voltarOrnamentais a:hover {
    transform: scale(1.1);
    background-color: darkorange;
    color: white;
}